.grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: var(--gutter);
    margin-block-end: var(--gutter);
}
/* 590. org 66em=1056px */
@media (min-width: 36.875em) {
    .grid {
        grid-template-columns: repeat(2,1fr);
        max-width: calc(var(--gutter) + 2 * 380px);
        margin-inline: auto;
    }
}
/* =1102. org 90em=1440px */
@media (min-width: 68.875em) {
    .grid {
        grid-template-columns: repeat(3,1fr);
        max-width: calc((var(--gutter) * 2)  + (3 * 380px));
        margin-inline: auto;
    }
}