.gradient-block {
    position: relative; 
    aspect-ratio: 380 / 430;
    overflow: hidden;
    background-size: 100% 200%;
    background-position: 0% 100%;
    animation: gradientAnimation 9s 5ms infinite alternate linear;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.gradient-block::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background-image: var(--gradient-colors);
    filter: blur(40px);
    animation: gradientAnimation 9s 5ms infinite alternate linear;
    mix-blend-mode: soft-light;
    z-index: 1;
    will-change: transform, filter;
}

.gradient-block__colors {
    --gradient-colors: linear-gradient(to top in oklch,
        oklch(62.8% 0.25768330773615683 29.2338851923426) 0%,    
        color-mix(in oklch, oklch(62.8% 0.25768330773615683 29.2338851923426) 50%, oklch(79.27% 0.1709 70.67) 50%),
        color-mix(in oklch, oklch(79.27% 0.1709 70.67) 50%, oklch(96.8% 0.21095439261133309 109.76923207652135) 50%) 100% 
    );
    background-image: var(--gradient-colors);
}

@keyframes gradientAnimation {
    0% { background-position: 0% 100%;}
    60% {background-position: 0% 60%;}
    100% {background-position: 0% 20%; }
}
