/* components/_header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gutter);
    padding: var(--space-2xs);
    color: var(--color-muted);
    margin-inline: auto; /* ? */
  }

  .header a {pointer-events: none;} /* ! */

  .header__logo {
    font-family: var(--font-logos);
    font-size: var(--size-step-4);
    font-weight: 500;
    z-index: 200;
  }
  
  .header__menu-icon {
    width: var(--size-step-4);
    height: auto;
    cursor: pointer;
    fill: var(--color-muted);
    z-index: 200;
  }
  /* 590. org 66em=1056px */
  @media (min-width: 36.875em) {
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
      padding: var(--space-xs);
      max-width: calc(var(--gutter) + 2 * 380px);
    }
  }
  /* =1102. org 90em=1440px */
  @media (min-width: 68.875em) {
    .header {
      display: flex;
      padding: var(--space-s);
    }
  }